* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  overflow: hidden
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#canvas {
  display: block;

}

.actions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.actions svg {
  width: 1.5em;
  height: 1.5em;
  margin: 0 10px;
  transition: all 0.3s;
}

.actions svg.active {
  transform: scale(1.5);
  fill: #9e462b;

}

.actions svg.checked {
  fill: #c5f4fe;
  transform: scale(1.3);
}

.colors {
  position: fixed;
  top: 20px;
  right: 30px;
}

.colors > li {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 25px 0;
  transition: all 0.3s;
}

.colors > li.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform: scale(1.5);
}

.colors > li.red {
  background: #ed1c24;
}

.colors > li.green {
  background: #1fb288;
}

.colors > li.blue {
  background: #4bb0dc;
}

.sizes {
  position: fixed;
  top: 60px;
  left: 20px;
}

.sizes > li {
  margin: 35px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.sizes > li.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform: scale(1.5);
}

.sizes > .thin {
  height: 0;
  width: 20px;
  border-top: 10px solid black;
}

.sizes > .thick {
  height: 0;
  width: 20px;
  border-top: 20px solid black;
}
